@font-face {
  font-family: 'SmileySans';
  src: url('../font/SmileySans-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*使用指定字体*/

p {
  color: red;
  font-family: 'SmileySans';
  font-size: 10px;
}
.lete {
  font-family: 'SmileySans';
}
#lete {
  font-family: 'SmileySans';
}

/*普通选择器+显式 font-family 声明*/
#font-a .basic-element {
  font-family: 'a';
}

/*伪元素选择器+显式 font-family 声明*/
#font-a .pseudo-element::before {
  font-family: 'a';
  content: 'b';
}
#font-a .pseudo-element::after {
  font-family: 'a';
  content: 'c';
}

/*普通选择器+显式 font(缩写) 声明*/
#font-b .basic-element {
  font: 16px 'b';
}

/*伪元素选择器+显式 font(缩写) 声明*/
#font-b .pseudo-element::before {
  font: 16px 'b';
  content: 'b';
}
#font-b .pseudo-element::after {
  font: 16px 'b';
  content: 'c';
}

/*伪类选择器*/
#font-c:hover .basic-element {
  font-family: 'c';
}

/*伪元素选择器+显式 font-family 声明*/
#font-c:focus .pseudo-element::before {
  font-family: 'c';
  content: 'b';
}
#font-c .pseudo-element:hover::after {
  font-family: 'c';
  content: 'c';
}

/* 行内样式 */
#font-d .basic-element {
  font-family: 'd';
}

#font-e {
  font-family: 'e';
}
/* (暂不支持) 伪元素字体继承 */
#font-e .pseudo-element::before {
  content: 'b';
}
#font-e .pseudo-element::after {
  font-family: inherit;
  content: 'c';
}
