@font-face {
  font-family: 'SmileySans';
  src: url('../font/SmileySans-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*使用指定字体*/

p {
  color: red;
  font-family: 'SmileySans';
}
.lete {
  font-family: 'SmileySans';
}
#lete {
  font-family: 'SmileySans';
}
